.uk-logo, .servIcons, h3{
    color: #10f7f7 !important;
}
nav{
    background-color: #FFF !important;
}
.titles{
    color: rgb(148, 148, 148) !important;
}
.servContent{
    color: rgb(168, 167, 167);
    font-weight: lighter;
}
ul>li>a{
    font-size: 14px !important;
}