/* primary color #10f7f7 */
.servIcons, h3{
    color: #007ef3 !important;
}
.titles{
    color: rgb(148, 148, 148) !important;
}
.servContent{
    color: rgb(168, 167, 167);
    font-weight: lighter;
}
.uk-logo{
    color: #007ef3 !important;

}