<!DOCTYPE html>
<html>

<head>
    <title>Medical Support</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <!-- start navbar -->
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="#">Logo</a>

            <ul class="uk-navbar-nav">
                <li>
                    <a href="../index.html">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="./doctors.html">
                        <span class="uk-icon uk-margin-small-right"></span>
                        Doctors
                    </a>
                </li>
                <li>
                    <a href="./appoint.html">
                        <span class="uk-icon uk-margin-small-right"></span>
                        Appointment
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- end navbar -->




        <!-- start footer  -->
        <div class="uk-section uk-section-muted">
            <div class="uk-container">
        
                <h3>M Support</h3>
        
                <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                    <div>
                        <p>Follow us : </p>
                        <span uk-icon="facebook"></span><br>
                        <span uk-icon="twitter"></span><br>
                        <span uk-icon="instagram"></span>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
        
            </div>
        </div>
    
        <!-- end footer  -->


    </body>
    </html>