
    <!-- start container  -->

    <div class="uk-container uk-margin-small-top">
        <div class="uk-child-width-1-4@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img style="width: 100%; height: 200px;"
                            src="https://i.pinimg.com/236x/94/aa/ed/94aaed9343ed1158a7bc963894ab4136.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h4>Khartoum Hospital</h4>
                        <p><span id="khartoum"></span> Empty Romms <span class="uk-badge">2800 SDG</span></p>
                        <button class="f1 demo uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Add
                            Room</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img style="width: 100%; height: 200px;"
                            src="https://i.pinimg.com/236x/21/84/7a/21847abb57a7c0c57a383d420cc8cfd0.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h4>Ahmed Gasiem</h4>
                        <p>0 Empty Romms <span class="uk-badge">2000 SDG</span></p>
                        <button class="f2 uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Add
                            Room
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img style="width: 100%; height: 200px;"
                            src="https://i.pinimg.com/236x/64/9d/e6/649de60373cde9531a06fcb6f31051aa.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h4>Omdurman Hospital</h4>
                        <p><span id="omdur"></span> Empty Romms <span class="uk-badge">2000 SDG</span>
                        </p>
                        <button class="f3 demo uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Add
                            Room</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img style="width: 100%;height: 200px;"
                            src="https://i.pinimg.com/236x/c2/f4/56/c2f456a844706dedc4a42354acbd303b.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h4>Royall Care</h4>
                        <p><span id="royal"></span> Empty Romms <span class="uk-badge">3500 SDG</span>
                        </p>
                        <button class="f4 demo uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Add
                            Room</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end container  -->
    <script src="../js/hospitals.js"></script>