<h3 class=".uk-text-default text-center">
    Doctors Crew
</h3><br><br>
<div class="uk-container">
<div class="uk-child-width-1-4@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img style="width: 100%; height: 200px;" src="https://i.pinimg.com/236x/ce/63/47/ce63475562f960ede351c2533415adc5.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Dr.Hassan Omer</h3>
                <p class="uk-card-title">Kartoum hospital</p>
                <p>Dr.Hassan Omer Has A PHD in Nero System</p>
                <button class="btn btn-primary" href="#hassan" uk-toggle>More Info</button>
            </div>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img style="width: 100%; height: 200px;" src="https://i.pinimg.com/236x/20/32/2e/20322e78cd112ee1f6bcc9dbb75c41ff.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Dr.Mohamed Ahmed</h3>
                <p class="uk-card-title">Royall Care hospital</p>
                <p>Dr.Maha Ahmed A PHD in Nero System</p>
                <button class="btn btn-primary" href="#mohamed" uk-toggle>More Info</button>
            </div>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img style="width: 100%; height: 200px;" src="https://i.pinimg.com/236x/1b/52/fd/1b52fd81c2282b432b85dc6a8a01f13d.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Dr.Essra Khalied</h3>
                <p class="uk-card-title">Ahmed Gaseim hospital</p>
                <p>Dr.Essra Khalied Has A PHD in Nero System</p>
                <button class="btn btn-primary" href="#essra" uk-toggle>More Info</button>
            </div>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img style="width: 100%; height: 200px;" src="https://i.pinimg.com/236x/d0/d1/f3/d0d1f361c4ed68738e93b11c022a81b7.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Dr.Fatima Ahmed</h3>
                <p class="uk-card-title">Omdurman hospital</p>
                <p>Dr.Fatima Ahmed Has A PHD in Nero System</p>
                <button class="btn btn-primary" href="#fatima" uk-toggle>More Info</button>
            </div>
        </div>
    </div>

</div>

    <!-- modal -->
    <!-- <a class="uk-button uk-button-default" href="#modal-overflow" uk-toggle>Open</a> -->

<div id="hassan" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Dr.Hassan Omer Info</h3>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
            <div>
                <img style="width: 50%; height: 200px;" src="https://i.pinimg.com/236x/94/aa/ed/94aaed9343ed1158a7bc963894ab4136.jpg" alt="">
                <h3 class="uk-card-title">Doctor Resume :</h3>
                <span>Worked in khartoum Hospital since 2008, he has a PHD in bones and nero system</span>
                <h3 class="uk-card-title">Doctor Attendance Schedule :</h3>
                <span>Satarday, Monday and Thursday, From <strong>6 Am to 4 Pm</strong></span>
            </div>
        </div>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary uk-modal-close" type="button">OK</button>
        </div>

    </div>
</div>


<div id="mohamed" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Dr.Mohamed Ahmed Info</h3>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
            <div>
                <img style="width: 50%; height: 200px;" src="https://i.pinimg.com/236x/21/84/7a/21847abb57a7c0c57a383d420cc8cfd0.jpg" alt="">
                <h3 class="uk-card-title">Doctor Resume :</h3>
                <span>Worked in Royall Care Hospital since 2017, he has a PHD in Blood Rush and nero system</span>
                <h3 class="uk-card-title">Doctor Attendance Schedule :</h3>
                <span>Satarday,Sunday, Monday and Thursday, From <strong>8 Am to 2 Pm</strong></span>
            </div>
        </div>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary uk-modal-close" type="button">OK</button>
        </div>

    </div>
</div>


<div id="essra" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Dr.Essra Khalied Info</h3>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
            <div>
                <img style="width: 50%; height: 200px;" src="https://i.pinimg.com/236x/64/9d/e6/649de60373cde9531a06fcb6f31051aa.jpg" alt="">
                <h3 class="uk-card-title">Doctor Resume :</h3>
                <span>Worked in Ahmed Gaseim Hospital since 2018, she has a PHD in X ray and nero system</span>
                <h3 class="uk-card-title">Doctor Attendance Schedule :</h3>
                <span>Sunday, Monday and Thursday, From <strong>6 Am to 2 Pm</strong></span>
            </div>
        </div>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary uk-modal-close" type="button">OK</button>
        </div>

    </div>
</div>


<div id="fatima" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Dr.Fatima Ahmed Info</h3>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
            <div>
                <img style="width: 50%; height: 200px;" src="https://i.pinimg.com/236x/c2/f4/56/c2f456a844706dedc4a42354acbd303b.jpg" alt="">
                <h3 class="uk-card-title">Doctor Resume :</h3>
                <span>Worked in Omdurman Hospital since 2009, she has a PHD in bones and nero system</span>
                <h3 class="uk-card-title">Doctor Attendance Schedule :</h3>
                <span>Satarday, Sunday and Thursday, From <strong>10 Am to 3 Pm</strong></span>
            </div>
        </div>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary uk-modal-close" type="button">OK</button>
        </div>

    </div>
</div>
