   <!-- start carossel -->

   <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

    <ul class="uk-slideshow-items" style="height: 300px;">
        <li>
            <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1">
                <img src="../img/martha-dominguez-de-gouveia-k-NnVZ-z26w-unsplash.jpg"
                    alt="" uk-cover>
            </div>
            <div class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000">
            </div>
            <div class="uk-position-center uk-position-medium uk-text-center">
                <div uk-slideshow-parallax="scale: 1,1,0.8">
                    <h3 uk-slideshow-parallax="x: 200,0,0">Update Service</h2>
                        <p uk-slideshow-parallax="x: 400,0,0;">We updating our pations in the plattform</p>
                </div>
            </div>
        </li>
        <li>
            <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1">
                <img src="../img/martha-dominguez-de-gouveia-KF-h9HMxRKg-unsplash.jpg"
                    alt="" uk-cover>
            </div>
            <div class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000">
            </div>
            <div class="uk-position-center uk-position-medium uk-text-center">
                <div uk-slideshow-parallax="scale: 1,1,0.8">
                    <h3 uk-slideshow-parallax="x: 200,0,0">24\h Customer Support</h3>
                    <p uk-slideshow-parallax="x: 400,0,0;">The Online services is is Whats we Proud Of</p>
                </div>
            </div>
        </li>
        <li>
            <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1">
                <img src="../img/martha-dominguez-de-gouveia-ShJUYkshceY-unsplash.jpg"
                    alt="" uk-cover>
            </div>
            <div class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000">
            </div>
            <div class="uk-position-center uk-position-medium uk-text-center">
                <div uk-slideshow-parallax="scale: 1,1,0.8">
                    <h3 uk-slideshow-parallax="x: 200,0,0">Best crew</h3>
                    <p uk-slideshow-parallax="x: 400,0,0;">We have best crew of doctors</p>
                </div>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>

</div>

<!-- end carossel -->

<!-- start body container -->
<div class="uk-container uk-margin-small-top" style="margin-top: 60px">
    <!-- start services -->
    <h3 class="uk-heading-divider uk-text-center">Why us</h3>
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>

            <div class="uk-card uk-card-default uk-card-body servIcons"><span uk-icon="heart"></span><br><br> Best
                Care <br>
                <p class="servContent">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam quae totam
                    id quaerat cupiditate minus dolore, natus eum est eaque a nostrum porro optio numquam
                    temporibus, distinctio, ut alias explicabo?</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body servIcons"><span uk-icon="star"></span><br><br> Best
                Doctors <br>
                <p class="servContent">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus explicabo
                    odio nihil, possimus quidem perspiciatis, ad consequatur, aspernatur aliquam dolores impedit
                    fugit reprehenderit. Iste omnis quam qui iure, molestias aut?</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body servIcons"><span uk-icon="file-text"></span><br><br>
                General Sergury <br>
                <p class="servContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, incidunt
                    sunt reiciendis sint nihil nulla nostrum obcaecati! Dicta impedit libero vero repellendus, ipsa
                    itaque quod. Officiis officia animi repellat numquam.</p>
            </div>
        </div>
    </div><br><br>
    <!-- end services -->

        </div>
    </div>
    <div style="height: 15px;"></div>
</div>
<!-- end body container -->
<div>
    <div class="view"
        style="background-image: url(http://www.ansonika.com/udema/img/bg_call_section.jpg);height: 500px;background-attachment: fixed;">
    </div>
</div>
</div>
</div>

<script src="../js/hospitals.js"></script>
